<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        				   http://www.springframework.org/schema/beans/spring-beans.xsd
        				   http://www.springframework.org/schema/context 
        				   http://www.springframework.org/schema/context/spring-context.xsd">
	        				   
	<!-- 开启注解扫描,扫描含有注释的类 -->
	<!-- 依赖注入的注解格式
		普通值：@Value
		  引用值：
		 	方式1：按照类型注入
		 		@Autowired
		 	方式2：按照名称注入
		 		@Autowired
		 		@Qualifier("名称")
		 	方式3：按照名称注入
		 		@Resource("名称")
		 生命周期注解格式：
		 	初始化：@PostConstruct
		 	销毁：@PreDestroy
		 作用域注解格式：
		 	多例：@Scope("prototype")
	 -->
	<context:component-scan base-package="com.stanlong.l_web_annotation"></context:component-scan>
</beans>