<!DOCTYPE html>
<!--导入thymeleaf名称空间，会有语法提示 xmlns:th="http://www.thymeleaf.org -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>成功</h1>
    <!-- th:text="" 将div里面的文本内容设置为后台传过来的值,不转义标签 -->
    <div th:text="${hello}"></div>

    <!-- th:utext="" 将div里面的文本内容设置为后台传过来的值，转义标签 -->
    <div th:utext="${uhello}"></div>
    <hr/>

    <div th:text="${user}"></div>
    <!-- th:each每次遍历都会生成当前这个标签： 3个h4 -->

    <!-- 这里遍历没生效，先不纠结了 -->
    <h4 th:text="${user}" th:each="user:${users}"></h4>
    <hr/>
    <h4>
        <span th:each="user:${users}">[[${user}}]]</span>
    </h4>
</body>
</html>