<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        				   http://www.springframework.org/schema/beans/spring-beans.xsd
        				   http://www.springframework.org/schema/context 
        				   http://www.springframework.org/schema/context/spring-context.xsd
        				   http://www.springframework.org/schema/aop
        				   http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 1、datesource -->
	<bean id="dataSourceId" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring_transaction"></property>
		<property name="user" value="root"></property>
		<property name="password" value="root"></property>
	</bean>

	<!-- 2、dao -->
	<bean id="accountDaoId" class="com.stanlong.z_factory_transaction.AccountDaoImpl">
		<property name="dataSource" ref="dataSourceId"></property>
	</bean>
	
	<!-- 3、service -->
	<bean id="accountServiceId" class="com.stanlong.z_factory_transaction.AccountServiceImpl">
		<property name="accountDao" ref="accountDaoId"></property>
	</bean>
	
	<!-- 4、service 代理对象
		4.1  proxyInterfaces 接口
		4.2  target目标类
		4.3  transactionManager 事务管理
		4.4  transactionAttributes 事务属性
			prop.key:确定哪些方法使用当前的事务配置
			prop.text:用于配置事务详情
				格式 PROPAGATION, ISOLATION, readOnly, -Exception, +Exception
					传播行为 		隔离级别		只读			异常回滚		异常提交
				例如：<prop key="transfer">PROPAGATION_REQUIRED,ISOLATION_DEFAULT</prop>
										默认传播行为和隔离级别
				
	-->
	<bean id="proxyAccountService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="proxyInterfaces" value="com.stanlong.z_factory_transaction.AccountService"></property>
		<property name="target" ref="accountServiceId"></property>
		<property name="transactionManager" ref="txManagerId"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="transfer">PROPAGATION_REQUIRED,ISOLATION_DEFAULT</prop>
			</props>
		</property>
	</bean>
	
	<!-- 5、事务管理器 -->
	<bean id="txManagerId" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceId"></property>
	</bean>
</beans>