<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        				   http://www.springframework.org/schema/beans/spring-beans.xsd">
	        				   
	<!-- p命名空间
		引入p命名空间
		xmlns:p="http://www.springframework.org/schema/p"
	-->
	<bean id="personId" class="com.stanlong.h_p_name.Person" 
		p:pname="zhangsan" 
		p:age="18"
		p:homeAddr-ref="homeAddressId"
		p:companyAddr-ref="companyAddressId">
	</bean>
	
	<bean id="homeAddressId" class="com.stanlong.h_p_name.Address"
		p:addr="火星"
		p:tel="911">
	</bean>
	
	<bean id="companyAddressId" class="com.stanlong.h_p_name.Address"
		p:addr="地球"
		p:tel="120"
	></bean>
	
</beans>