<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        				   http://www.springframework.org/schema/beans/spring-beans.xsd">
        				   
    <!-- Bean的作用域
    	默认情况 singleton: 单例模式
    	scope:="prototype" : 多例模式
     -->
    <bean id="bookServiceId" class="com.stanlong.e_scope.BookServiceImpl" scope="prototype"></bean>
    
</beans>