<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
						http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<display-name>HelloSpring</display-name>
	
	<!-- 确定配置文件位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:com/stanlong/zd_web/applicationContext.xml</param-value>
	</context-param>
	
	<!-- 配置Spring监听器，加载xml文件 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>HelloSpring</servlet-name>
		<servlet-class>com.stanlong.zd_web.HelloSpring</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloSpring</servlet-name>
		<url-pattern>/HelloSpring</url-pattern>
	</servlet-mapping>
	
</web-app>