<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<!-- Spring配置文件位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext-*.xml</param-value>
	</context-param>
	
	<!-- 配置Spring监听器，加载xml文件 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- action风格 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 如果不配置 contextConfigLocation 默认加载的是/WEB-INFO/servlet名称-servlet -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- 
				入门安例使用  <param-value>classpath:springmvc/springmvc-handler.xml 测试</param-value>
			-->
			<param-value>classpath:springmvc/springmvc.xml</param-value>
		</init-param>
	</servlet>
	
	<!-- url-pattern的配置方式
		1、*.action 访问由.action结尾，由DispatcherServlet进行解析
		2、/ 所有访问地址都由DispatcherServlet解析， 对于静态文件的解析需要配置不让DispatcherServlet进行解析，使用此种方法可以使用ful风格的解析
		3、/* 这种配置不对，最终要转发一个jsp页面里，仍然会由DispatcherServlet来解析页面，不能根据jsp页面找到handler，会报错
	 -->
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	
	<!-- RestFul风格的配置方式 -->
	<servlet>
		<servlet-name>springmvc-restful</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 如果不配置 contextConfigLocation 默认加载的是/WEB-INFO/servlet名称-servlet -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- 
				入门安例使用  <param-value>classpath:springmvc/springmvc-handler.xml 测试</param-value>
			-->
			<param-value>classpath:springmvc/springmvc.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>springmvc-restful</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<!-- post乱码过虑器 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>