<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        				   http://www.springframework.org/schema/beans/spring-beans.xsd
        				   http://www.springframework.org/schema/context 
        				   http://www.springframework.org/schema/context/spring-context.xsd
        				   http://www.springframework.org/schema/aop
        				   http://www.springframework.org/schema/aop/spring-aop.xsd
        				   http://www.springframework.org/schema/tx
        				   http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 1、datesource -->
	<bean id="dataSourceId" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring_transaction"></property>
		<property name="user" value="root"></property>
		<property name="password" value="root"></property>
	</bean>

	<!-- 2、dao -->
	<bean id="accountDaoId" class="com.stanlong.za_aop_xml_transaction.AccountDaoImpl">
		<property name="dataSource" ref="dataSourceId"></property>
	</bean>
	
	<!-- 3、service -->
	<bean id="accountServiceId" class="com.stanlong.za_aop_xml_transaction.AccountServiceImpl">
		<property name="accountDao" ref="accountDaoId"></property>
	</bean>
	
	<!-- 4、事务管理
		4.1  事务管理器
		4.2  事务详情：在aop筛选的基础上对方法确定使用什么样的事务，例如AC读写，B只读
			<tx:attributes> 用于配置事务详情
			<tx:method name=""/> 具体配置
				propagation 传播行为
				isolation 隔离级别
		4.3 AOP编程
	-->
	<!--  事务管理器 -->
	<bean id="txManagerId" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceId"></property>
	</bean>
	
	<!-- 事务详情：在aop筛选的基础上对方法确定使用什么样的事务，例如AC读写，B只读
			<tx:attributes> 用于配置事务详情
			<tx:method name=""/> 具体配置
				propagation 传播行为:  REQUIRED:必须的
				isolation 隔离级别 -->
	<tx:advice id="txAdviceId" transaction-manager="txManagerId">
		<tx:attributes>
			<tx:method name="transfer" propagation="REQUIRED" isolation="DEFAULT"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- AOP编程 -->
	<aop:config>
		<aop:advisor advice-ref="txAdviceId" pointcut="execution(* com.stanlong.za_aop_xml_transaction.AccountServiceImpl.*(..))"/>
	</aop:config>
	
	
	
</beans>